@using Combres
@using Sicemed.Web.Models.Roles
<!doctype html public "✰">
<!--[if lt IE 7]> <html lang="en-us" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="no-js ie8"> <![endif]-->
<!--[if IE 9]>    <html lang="en-us" class="no-js ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-us" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="author" content="Walter Poch">
    <!-- iPhone, iPad and Android specific settings -->
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1;">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-icon" href="../../public/images/iOS_icon.png">
    <link rel="apple-touch-startup-image" href="../../public/images/iOS_startup.png">
    @Html.Raw(WebExtensions.CombresLink("adminicaCss"))
    @Html.Raw(WebExtensions.CombresLink("appCss"))
    @Html.Raw(WebExtensions.CombresLink("adminicaJs"))
</head>
<body>
    <div id="wrapper">
        <div id="topbar" class="clearfix">
            <a href="#" class="logo"><span>Adminica</span></a>
            <div class="user_box clearfix">
                <img src="../../public/images/profile.jpg" width="55" alt="Profile Pic" />
                <h2>
                    Administrator</h2>
                <h3>
                    <a class="text_shadow" href="#">John Smith</a></h3>
                <ul>
                    <li><a href="#">profile</a><span class="divider">|</span></li>
                    <li><a href="#">settings</a><span class="divider">|</span></li>
                    <li><a href="#">logout</a></li>
                </ul>
            </div>
            <!-- #user_box -->
        </div>
        <!-- #topbar -->
        <div id="sidebar">
            <div class="cog">
                +</div>
            <a href="#" class="logo"><span>Adminica</span></a>
            <div class="user_box clearfix">
                @Html.Partial("_LogOnPartialAdmin")
            </div>
            <!-- #user_box -->
            <ul class="side_accordion">
                 @Html.Partial("_MenuAdmin", ViewData["_Menu"])
            </ul>
            <form>
            <div id="search_side">
                <input class="" type="text" value="Search Adminica..." onclick="value=''"></div>
            </form>
        </div>
        <!-- #sidebar -->      
        <div class="main_container container_16 clearfix">
            <div class="flat_area grid_16">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Raw(WebExtensions.CombresLink("adminicaBottomJs"))
    @Html.Raw(WebExtensions.CombresLink("appJs"))
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        jQuery(document).ready(app.initialize);
    </script>
    <div id="loading_overlay">
        <div class="loading_message round_bottom">
            <img src="../../public/images/loading.gif" alt="loading" />
        </div>
    </div>
</body>
</html>
