@using Sicemed.Web.Models
@using Sicemed.Web.Models.Roles
@model IEnumerable<Pagina>
           
@foreach (var pagina in Model)
{
    <li>
        <a href="@Url.Action("Index", "Content", new { id = pagina.Id, Area = "" })">
            @pagina.Nombre
        </a>
        @if (pagina.Hijos.Any())
        {
            <ul class="drawer">
                @foreach (var hijo in pagina.Hijos)
                {
                    <li>
                        <a href="@Url.Action("Index", "Content", new { id = hijo.Id, Area = "" })">@hijo.Nombre</a>
                    </li>
                }
            </ul>
        }
    </li>
}

@if (User.IsInRole(Rol.ADMINISTRADOR))
{
    <li>
        <a href="#">						        
            Admin
        </a>
        <ul class="drawer">
            <li>@Html.ActionLink("Datos Clínica", "Index", new { Area = "Admin", Controller = "Clinicas" })</li>
            <li>@Html.ActionLink("Paginas", "Index", new { Area = "Admin", Controller = "Paginas" })</li>
            <li>@Html.ActionLink("Personas", "Index", new { Area = "Admin", Controller = "Personas" })</li>
            <li>@Html.ActionLink("Provincias", "Index", new { Area = "Admin", Controller = "Provincias" })</li>
            <li>@Html.ActionLink("Localidades", "Index", new { Area = "Admin", Controller = "Localidades" })</li>
            <li>@Html.ActionLink("Feriados", "Index", new { Area = "Admin", Controller = "Feriados" })</li>
            <li>@Html.ActionLink("Obras Sociales", "Index", new { Area = "Admin", Controller = "ObrasSociales" })</li>
            <li>@Html.ActionLink("Planes", "Index", new { Area = "Admin", Controller = "Planes" })</li>
            <li>@Html.ActionLink("Especialidades", "Index", new { Area = "Admin", Controller = "Especialidades" })</li>
            <li>@Html.ActionLink("Consultorios", "Index", new { Area = "Admin", Controller = "Consultorios" })</li>
        </ul>
    </li>
}
