@using Sicemed.Web.Models
@model IEnumerable<Sicemed.Web.Models.BI.Indicador>
@{
    ViewBag.Title = "Administración De Objetivos";
}
<h2>
    Administraci&oacute;n de Objetivos
</h2>

@Html.Partial("GrillaBase")

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            app.grid.initialize({
                    url: {
                        edit: '@Url.Action("Editar")',
                    add: '@Url.Action("Nuevo")',
                    del: '@Url.Action("Eliminar")',
                    list: '@Url.Action("List")'
                },
                params: {
                    caption: 'Gesti&oacute;n De Objetivos',
                    emptyrecords: 'No hay Objetivos cargados.',
                    colNames: ['Id', 'Nombre', 'Codigo Postal', 'Caracteristicas', 'Provincia'],
                    colModel: [
                            {
                                name: 'Id',
                                index: 'Id',
                                width: 55,
                                sortable: false,
                                hidden: true
                            },
                            {
                                name: 'Anio',
                                index: 'Anio',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'A@nacute;o (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Mes',
                                index: 'Mes',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Mes',
                                    maxlength: '16',
                                    size: '16'
                                }
                            },
                            {
                                name: 'ValorMaximo',
                                index: 'ValorMaximo',
                                width: 300,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Valor Maximo (*)'
                                }
                            },
                            {
                                name: 'ValorMinimo',
                                index: 'ValorMinimo',
                                width: 300,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Valor Minimo (*)'
                                }
                            },
                            {
                                name: 'IndicadorId',
                                index: 'Indicador',
                                formatter: function ( cellvalue, options, rowObject )
                                {                                
                                    return rowObject.Indicador.Nombre;
                                },
                                width: 90,
                                editable: true,
                                sortable: false,
                                edittype: 'select',
                                editoptions: {
                                    value: @Html.SelectJsonValues(x => x.Id, x => x.Nombre)
                                },
                                formoptions: {
                                    label: 'Indicador (*)'
                                }
                            }                        
                        ]
                }
            });
        });
    </script>
}
