@using System.Security.Principal
@using Combres
@using Sicemed.Web.Models
@using Sicemed.Web.Models.Enumerations.Roles
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Raw(WebExtensions.CombresLink("siteCss"))
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>Sicemed</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="sdt_menu" class="sdt_menu ui-helper-clearfix">
                    @Html.Partial("_Menu",(IEnumerable<Pagina>)ViewData["_Menu"])

                    @if (User.IsInRole(Rol.Administrador))
                    {
                        <li>
					        <a href="#">						        
						        <span class="sdt_active"></span>
						        <span class="sdt_wrap">
							        <span class="sdt_link">Admin</span>
							        <span class="sdt_descr">My work</span>
						        </span>
					        </a>
					        <div class="sdt_box">
                                @Html.ActionLink("Paginas", "Index", new { Area = "Admin", Controller = "Paginas" })
                                @Html.ActionLink("Usuarios", "Index", new { Area = "Admin", Controller = "Usuarios" })
                                @Html.ActionLink("Provincias", "Index", new { Area = "Admin", Controller = "Provincias" })
                                @Html.ActionLink("Localidades", "Index", new { Area = "Admin", Controller = "Localidades" })
                                @Html.ActionLink("Feriados", "Index", new { Area = "Admin", Controller = "Feriados" })
                                @Html.ActionLink("Obras Sociales", "Index", new { Area = "Admin", Controller = "ObrasSociales" })
                                @Html.ActionLink("Planes", "Index", new { Area = "Admin", Controller = "Planes" })
                                @Html.ActionLink("Especialidades", "Index", new { Area = "Admin", Controller = "Especialidades" })
                                @Html.ActionLink("Consultorios", "Index", new { Area = "Admin", Controller = "Consultorios" })                                
					        </div>
                        </li>
                    }
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @Html.Raw(WebExtensions.CombresLink("siteJs"))
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        jQuery(document).ready(app.initialize);
    </script>
</body>
</html>
