@using Combres
@using Sicemed.Web.Models.Roles
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Walter Poch">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <title>@ViewBag.Title</title>
    
    @Html.Raw(WebExtensions.CombresLink("css"))
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="../../public/css/theme_ie.css" />
    <![endif]-->
</head>
<body>
    <div class="body_wrap">
        <div class="header">
            <div class="header_top">
                <div class="container">
                    <div class="logo">
                        <a href="http://themefuse.com/demo/html/Medica/index.html">
                            <img src="../../public/images/theme/logo.png" alt="Medica" height="80" width="210"></a></div>
                    <div class="header_contacts">
                        <p>
                            Call us directly: <span class="icon_phone">1-800-643-4300</span></p>
                        <p>
                            5 East Hyde Park, Chicago <a href="http://themefuse.com/demo/html/Medica/locations.html"
                                                         class="icon_map">View Location</a></p>
                    </div>
                </div>
            </div>
            <div class="header_menu">
                <div class="container">
                    <div class="topmenu">
                        <ul class="dropdown">
                            @Html.Partial("_MenuClinica", ViewData["_Menu"])
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header image/slider -->
            <div class="header_bot header_image">
                <div class="container">
                    <img src="../../public/images/theme/header_image_2.jpg" alt="" height="142" width="960">
                </div>
            </div>
            <!--/ header image/slider -->
        </div>
        <!--/ header -->
        <!-- middle -->
        <div class="middle">
            <div class="container_12">
                <!-- content -->
                <div class="grid_12 content">
                    <div class="post-item">
                        <div class="entry">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!--/ content -->
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="middle_bot">
        </div>
        <!--/ middle -->
        <!-- footer -->
        <div class="footer">
            <div class="container_12">
                <div class="grid_4 push_8">
                    <div class="text-center">
                        <p>
                            <img src="../../public/images/theme/logo_footer.png" alt="" height="34" width="200"></p>
                        <br>
                        <p>
                            1251-A Nowhere Boulevard<br>
                                                    City of OuttaSight, State 90378</p>
                    </div>
                </div>
                <div class="clear">
                </div>
                <div class="copyright">
                    © 2011 WordPress theme by <a href="http://themefuse.com/">Themefuse.com</a></div>
            </div>
        </div>
    </div>
    
    @Html.Raw(WebExtensions.CombresLink("js"))
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        jQuery(document).ready(app.initialize);
    </script>
</body>
</html>
