@using Combres.Mvc
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sicemed &gt; @ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    @Html.CombresLink("siteCss")
    @Html.CombresLink("siteJs")
</head>
<body id="top">
    <div class="wrap_fullwidth" id='head'>
        <div class='center'>
            <p class='headline'>
                <a href='#'>Sicemed</a> <span>Tel&eacute;fono: 0341 - 445 4434</span> <span>info@sicemed.wpoch.com.ar</span>
            </p>
            @*			<form action="#" id="searchform" method="get">
				<div>
				<input type="submit" value="." id="searchsubmit" class="button "/>
				<input type="text" class='rounded' id="s" name="s" value=""/>
				</div>
			</form><!-- end searchform-->
*@
        </div>
        <!-- end header -->
    </div>
    <div class="wrap_fullwidth" id='second_header'>
        <div class='center'>
            <h1 class="logo">
                <a href="@Url.Action("Index", "Home")" title="Sicemed - Turnos Online">Sicemed</a>
            </h1>
            @Html.Partial("_Menu")
            
            <!-- end center -->
        </div>
        <!-- end second_header -->
    </div>
    <div class="wrap_fullwidth small_margin" id='main'>
        <div class='center'>
            <div class='content_two_third' id='content_wrap'>
                <div class='content_two_third entry'>
                    <h1>@ViewBag.Title</h1>
                    <div class="entry_content">
                        @RenderBody()
                        <!-- end entry_content -->
                    </div>
                    <!-- end entry -->
                </div>
                <!-- end content_wrap -->
            </div>
            <div class='content_one_third' id='sidebar'>
                <span id='sidebar_top'>
                    <!-- needed for smooth start of sidebar background-->
                </span><span id='sidebar_bottom'>
                    <!-- needed for smooth end of sidebar background-->
                </span>
                @Html.Partial("_MenuRight")
                <!--end sidebar -->
            </div>
            <!-- end center -->
        </div>
        <!-- end main -->
    </div>
    <div class="wrap_fullwidth" id='breadcrumb_wrap'>
        <div class='center'>
            <p class='breadcrumb'>
                @Html.Partial("_Breadcrumb")
            </p>
            <ul class="social_bookmarks">
                <li class="rss"><a href="#" class="">RSS</a></li>
                <li class="facebook"><a href="#" class="">Facebook</a></li>
                <li class="twitter"><a href="#" class="">Twitter</a></li>
                <li class="flickr"><a href="#" class="">flickr</a></li>
                <li class="skype"><a href="#" class="">Skype</a></li>
            </ul>
            <!-- end center -->
        </div>
        <!-- end breadcrumb_wrap -->
    </div>
    <div class="wrap_fullwidth " id='footer'>
        <div class='center'>
            @Html.Partial("_MenuFooter")
            <div class="box box_custom_footer">
                <h3>
                    Sicemed</h3>
                <p>
                    Direccion</p>
            </div>
            <!-- end center -->
        </div>
        <!-- end footer -->
    </div>
    <div class="wrap_fullwidth" id='footer_bottom'>
        <div class='center'>
            <span class='copyright'>All content Copyright &copy; 2011 Walter Poch</span> <a class='scrollTop '
                href='#top'>top</a>
            <!-- end center -->
        </div>
        <!-- end footer -->
    </div>
</body>
</html>
