@using System.Security.Principal
@using Combres
@using Sicemed.Web.Models.Enumerations
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.Raw(WebExtensions.CombresLink("siteCss"))
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            <div id="logindisplay">
                @Html.Partial("_LogOnPartial")
            </div>
            <nav>
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole(Rol.Administrador))
                    {
                        <li>
                            Administraci&oacute;n
                            <ul>
                                <li>@Html.ActionLink("Paginas", "Index", "Paginas")</li>
                                <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                                <li>@Html.ActionLink("Provincias", "Index", "Provincias")</li>
                                <li>@Html.ActionLink("Localidades", "Index", "Localidades")</li>
                                <li>@Html.ActionLink("Feriados", "Index", "Feriados")</li>
                                <li>@Html.ActionLink("Obras Sociales", "Index", "ObrasSociales")</li>
                                <li>@Html.ActionLink("Planes", "Index", "Planes")</li>
                                <li>@Html.ActionLink("Especialidades", "Index", "Especialidades")</li>
                                <li>@Html.ActionLink("Consultorios", "Index", "Consultorios")</li>                                
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>
        </footer>
    </div>
    @Html.Raw(WebExtensions.CombresLink("siteJs"))
    @RenderSection("Scripts", false)
</body>
</html>
