@using Sicemed.Web.Models
@model IEnumerable<Pagina>
           
@foreach (var pagina in Model)
{
    <li class="@( @pagina.Hijos.Any() ? "parent": "")">
        <a href="@Url.Action("Index", "Content", new {id = pagina.Id, Area = ""})">
            <span>@pagina.Nombre</span>
        </a>        
        @if (pagina.Hijos.Any())
        {
            <ul>
                @foreach (var hijo in pagina.Hijos)
                {
                    <li class="first">
                        <a href="@Url.Action("Index", "Content", new {id = hijo.Id, Area = ""})">
                            <span>@hijo.Nombre</span>
                        </a>
                    </li>
                }
            </ul>
        }
    </li>
}