@using System.Text

@model IEnumerable<dynamic>
           
           
@functions{
    public string RenderMenuItem(dynamic pagina)
    {
        var html = new StringBuilder();
        html.AppendFormat("<li class=\"{0} {1} {2} {3} {4}\">",
            pagina.IsFirst ? "first" : string.Empty, 
            pagina.IsParent ? "parent": string.Empty,
            pagina.IsCurrentItem ? "current-menu-item" : string.Empty,
            pagina.IsCurrent ? "current-menu-ancestor" : string.Empty, 
            pagina.IsLast ? "last": string.Empty);

        html.AppendFormat("<a href=\"{0}\"><span>{1}</span></a>", pagina.Url, pagina.Nombre);

        if (pagina.IsParent)
        {
            html.Append("<ul>");
            foreach (var hijo in pagina.Hijos)
            {
                html.Append(RenderMenuItem(hijo));
            }
            html.Append("</ul>");
        }
        
        html.Append("</li>");
        
        return html.ToString();
    }
}

@foreach (var pagina in Model)
{
    @Html.Raw(RenderMenuItem(pagina))
}



@*@if (User.IsInRole(Rol.ADMINISTRADOR))
{
    <li><a href="#"><span>Admin</span> </a>
        <ul>
            <li><span>@Html.ActionLink("Datos Clínica", "Index", new { Area = "Admin", Controller = "Clinicas" })</span>
            </li>
            <li><span>@Html.ActionLink("Paginas", "Index", new { Area = "Admin", Controller = "Paginas" })</span>
            </li>
            <li><span>@Html.ActionLink("Personas", "Index", new { Area = "Admin", Controller = "Personas" })</span>
            </li>
            <li><span>@Html.ActionLink("Provincias", "Index", new { Area = "Admin", Controller = "Provincias" })</span>
            </li>
            <li><span>@Html.ActionLink("Localidades", "Index", new { Area = "Admin", Controller = "Localidades" })</span>
            </li>
            <li><span>@Html.ActionLink("Feriados", "Index", new { Area = "Admin", Controller = "Feriados" })</span>
            </li>
            <li><span>@Html.ActionLink("Obras Sociales", "Index", new { Area = "Admin", Controller = "ObrasSociales" })</span>
            </li>
            <li><span>@Html.ActionLink("Planes", "Index", new { Area = "Admin", Controller = "Planes" })</span>
            </li>
            <li><span>@Html.ActionLink("Especialidades", "Index", new { Area = "Admin", Controller = "Especialidades" })</span>
            </li>
            <li><span>@Html.ActionLink("Consultorios", "Index", new { Area = "Admin", Controller = "Consultorios" })</span>
            </li>
        </ul>
    </li>
}*@