@using Sicemed.Web.Models
@using Sicemed.Web.Models.Roles
@model Sicemed.Web.Models.ViewModels.Historial.TurnosPacienteViewModel

@{
    ViewBag.Title = "Historial Turnos";
}

<h2>Historia Turnos</h2>

@if(!Model.Turnos.Any())
{
    <div>
        El paciente no posee histor&iacute;a en las fechas seleccionadas.
    </div>    
}
else
{
    <div>
        @foreach(var turno in Model.Turnos)
        {
            <h3>@turno.FechaTurno.ToShortDateString() @turno.FechaTurno.ToShortTimeString() - @turno.Profesional</h3>
            <div>
                Especialidad: @turno.Especialidad
                <br/>
                Consultorio: @turno.Consultorio                
                <br/>
            </div>
        }
    </div>        
}
