@using Sicemed.Web.Infrastructure.Helpers
@using Sicemed.Web.Models
@using Sicemed.Web.Models.Roles
@model Sicemed.Web.Models.ViewModels.Historial.TurnosPacienteViewModel
@{
    ViewBag.Title = "Historial Turnos";
}
<h2>
    Historial Turnos
</h2>
@using (Html.BeginForm("Turnos", "Historial", FormMethod.Get, new { id = "search-filters" }))
{
    @Html.EditorFor(x => x.Filters)       
}
@if (!Model.Turnos.Any())
{
    <div class="msg-error">
        El usuario no posee histor&iacute;a en las fechas seleccionadas.
    </div>    
}
else
{
    <div class="historial">
        @foreach (var turno in Model.Turnos)
        {
            <div class="turno turno-@turno.Estado.ToString().ToLower()">
            <h4>@turno.FechaTurno.ToFullDate() - @turno.Profesional | @turno.Estado</h4>
            <div>
                Especialidad: @turno.Especialidad
                <br />
                Consultorio: @turno.Consultorio
            </div>
            @if (turno.Estado == Turno.EstadoTurno.Atendido)
            {
                <strong>Diagn&oacute;stico</strong>
                <div>
                    @Html.Nl2Br(turno.Nota)
                </div>                                              
            }                
            @if (turno.Estado == Turno.EstadoTurno.Cancelado)
            {
                <strong>Cancelaci&oacute;n</strong>
                <div>
                    Cancelado por @turno.CanceladoPor.Descripcion el @turno.FechaCancelacion.Value.ToFullDate()
                </div>
                <strong>Motivo</strong>
                <div>                    
                    @Html.Nl2Br(turno.MotivoCancelacion)
                </div>
            }                
            </div>
        }
    </div>        
}
