@model Sicemed.Web.Models.ViewModels.Historial.TurnosPorPacienteViewModel
@{
    ViewBag.Title = "Historial Turnos";
}
<h2>
    Historial Turnos
</h2>

<h3>
    @Model.PacienteSeleccionado.Descripcion
</h3>

@using (Html.BeginForm("TurnosPorPaciente", "Historial", FormMethod.Get, new { id = "search-filters" }))
{    
    @Html.Hidden("PacienteId", Model.PacienteSeleccionado.Id)
    @Html.EditorFor(x => x.Filters)
}

@if (!Model.Turnos.Any())
{
    <div class="msg-error">
        El paciente no posee turnos en las fechas seleccionadas.
    </div>
}
else
{
    <div>
        @using (Html.BeginForm("FichaPacienteReporte", "Historial", FormMethod.Get, new { id = "search-filters" }))
        {    
            @Html.Hidden("PacienteId", Model.PacienteSeleccionado.Id)
            @Html.HiddenFor(x => x.Filters.Desde)
            @Html.HiddenFor(x => x.Filters.Hasta)
            @Html.HiddenFor(x => x.Filters.Filtro)

            @Html.Submit("Imprimir Ficha")
        }        
    </div>
    
    <div class="historial">
        @foreach (var turno in Model.Turnos)
        {
            @Html.DisplayFor(x => turno)
        }
    </div>
}