@model Sicemed.Web.Areas.Admin.Models.Auditoria.AuditSearchFiltersViewModel
@{
    ViewBag.Title = "Visualización de Auditoría";
}
@section Css
{
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/public/css/jsondiffpatch.css")"/>
    <style type="text/css">
        .accion-delete
        {
            color: red;
        }
        .accion-update
        {
            color: orange;
        }
        .accion-insert
        {
            color: green;
        }
    </style>
}
<h2>
    Visualizaci&oacute;n de Auditor&iacute;a
</h2>
@using (Html.BeginForm("Index", "Auditoria", FormMethod.Get, new { id = "search-filters" }))
{
    @Html.EditorForModel()    
}
@Html.Partial("GrillaBase")
<div id="detalle" title="Detalle" class="ui-helper-hidden">
    <div class="contenido">
    </div>
</div>
<script id="tmplDetalle" type="text/html">
    <div class="contenido">
        <h2>Entidad: ${Entidad}</h2>
        <h3>Id: ${EntidadId}</h3>
        <h4>${Fecha} - ${Accion}</h4>
        <div class="diff">
                
        </div>
    </div>
</script>
@section Scripts{
    <script type="text/javascript" src="@Url.Content("~/public/js/libs/jsondiffpatch.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/public/js/libs/jsondiffpatch.html.js")"></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            app.grid.initialize({
                url: {
                    list: '@Url.Action("List")'
                },
                params: {
                    editable: false,
                    addable: false,
                    deleteable: false,
                    rowNum: 25,
                    rowList: [25, 50, 100],                    
                    serializeGridData: function (postData) {
                        var searchData = $("#search-filters").serializeObject();
                        var newData = $.extend({}, postData, searchData);
                        return newData;
                    },
                    loadComplete: function(data){
                        var grid = $(this);
                        for(var i = data.Rows.length - 1; i >= 0; i--) {
                            var row = data.Rows[i];
                            grid.find("#" + row.Id).find("td").addClass("accion-" + row.Accion.toLowerCase());                            
                        }
                    },                                 
                    caption: 'Visualizaci&oacute;n de Auditor&iacute;a',
                    emptyrecords: 'No hay registros auditados.',                    
                    colNames: ['Id', 'Fecha', 'Usuario', 'Entidad Id', 'Entidad', 'Accion'],
                    colModel: [
                            {
                                name: 'Id',
                                index: 'Id',
                                width: 55,
                                sortable: false,
                                hidden: true
                            },
                            {
                                name: 'Fecha',
                                index: 'Fecha',
                                width: 90,
                                editable: true,
                                sortable: false
                            },
                            {
                                name: 'Usuario',
                                index: 'Usuario',
                                width: 90,
                                editable: false,
                                sortable: false
                            },
                            {
                                name: 'EntidadId',
                                index: 'EntidadId',
                                width: 90,
                                editable: false,
                                sortable: false
                            },
                            {
                                name: 'Entidad',
                                index: 'Entidad',
                                width: 90,
                                editable: false,
                                sortable: false
                            },
                            {
                                name: 'Accion',
                                index: 'Accion',
                                width: 90,
                                editable: false,
                                sortable: false
                            }
                    ]
                }
            });

            // Fix para que no parsee las fechas en esta pantalla.
            var originalParse = $.parseJSON;

            $.extend({
                parseJSON: function (data, convertDates) {
                    return originalParse(data, false);
                }
            });
            
            $("#data").jqGrid('navButtonAdd',"#pager", {
                caption:"Detalle", 
                buttonicon:"ui-icon-newwin", 
                onClickButton:function () {
                    var selected = $("#data").getGridParam('selrow');
                    if(!selected) {
                        app.ui.showError("Debe seleccionar un elemento de la lista.");
                        return;
                    }
                    $.postAntiForgery("@Url.Action("Get")", { id: selected }, function (audit) {
                        audit.EntidadAntes = $.parseJSON(audit.EntidadAntes);
                        audit.EntidadDespues = $.parseJSON(audit.EntidadDespues);
                        var d = jsondiffpatch.diff(audit.EntidadAntes, audit.EntidadDespues);
                        $("#detalle .contenido").replaceWith($("#tmplDetalle").tmpl(audit));
                        if (d) {
                            var diffElement = jsondiffpatch.html.diffToHtml(audit.EntidadAntes, audit.EntidadDespues, d);
                            $("#detalle .diff").append(diffElement);
                            $("#detalle").dialog('open');
                        } else {
                            $("#detalle .diff").append("<div>Entidades Iguales</div>");
                            $("#detalle").dialog('open');
                        }
                    });
                }, 
                position: "last", 
                title:"Detalle", 
                cursor: "pointer"
            });

            $("#detalle").dialog({
                width: 1024,
                autoOpen: false,
                modal: true
            });
        });
    </script>
}
