@model Sicemed.Web.Models.ViewModels.HistorialAtenciones.HistorialAtencionesViewModel

@{
    ViewBag.Title = "title";
}

<h2>Historia Atenciones - @Model.Paciente</h2>

@if(!Model.Turnos.Any())
{
    <div>
        El usuario no posee histor&iacute;a en las fechas seleccionadas.
    </div>    
}
else
{
    <div>
        @foreach(var turno in Model.Turnos)
        {
            <h3>@turno.FechaTurno.ToShortDateString() - @turno.Profesional</h3>
            <div>
                Especialidad: @turno.Especialidad
                <br/>
                Especialidad: @turno.Consultorio                
            </div>
            <h4>Diagn&oacute;stico</h4>
            <div>
                @turno.Nota
            </div>            
        }
    </div>        
}
