@using Sicemed.Web.Areas.Admin.Models.Clinicas
@model ClinicaEditViewModel
@{
    ViewBag.Title = "Administración Datos Clínica";
}
<h2>
    Administraci&oacute;n Datos Cl&iacute;nica
</h2>
@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <h3 class="ui-state-highlight">@ViewBag.Message</h3>
}

@using(Html.BeginForm("Guardar")){
    @Html.EditorForModel()

    <input type="submit"/>
}

@*
<div id="wdSecretaria" title="Cl&iacute;nica" class="ui-jqdialog-content">
	<form action="@Url.Action("Guardar")" method="POST" style="width: 100%; overflow: auto; position: relative; height: auto;" class="FormGrid" id="FrmGrid_data" name="FormPost">
		@Html.AntiForgeryToken()
		<table cellspacing="0" cellpadding="0" border="0" class="EditTable" id="TblGrid_data">
			<tbody>
				<tr style="display: none;" id="FormError">
					<td colspan="2" class="ui-state-error">
						@Html.ValidationSummary();
					</td>
				</tr>
				<tr class="tinfo" style="display: none;">
					<td colspan="2" class="topinfo">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Razon Social (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="RazonSocial" name="RazonSocial" class="FormElement"
									 role="textbox" value="@Model.RazonSocial">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						CUIT (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="Documento.Numero" name="Documento.Numero" class="FormElement"
									 role="textbox"  value="@Model.Documento.Numero">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Domicilio (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="Domicilio.Direccion" name="Domicilio.Direccion" class="FormElement"
									 role="textbox"  value="@Model.Domicilio.Direccion">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Provincia (*)
					</td>
					<td class="DataTD">
						&nbsp;
						<select>
						</select>
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Localidad (*)
					</td>
					<td class="DataTD">
						&nbsp;
						<select id="LocalidadId" name="LocalidadId">
						</select>
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Duraci&oacute;n Turno Por Defecto (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="DuracionTurnoPorDefecto" name="DuracionTurnoPorDefecto" class="FormElement"
									 role="textbox"  value="@Model.DuracionTurnoPorDefecto">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Horario Matutino Desde (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="HorarioMatutinoDesde" name="HorarioMatutinoDesde" class="FormElement"
									 role="textbox"  value="@Model.HorarioMatutinoDesde">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Horario Matutino Hasta (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="HorarioMatutinoHasta" name="HorarioMatutinoHasta" class="FormElement"
									 role="textbox" value="@Model.HorarioMatutinoHasta">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Horario Vespertino Desde
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="HorarioVespertinoDesde" name="HorarioVespertinoDesde" class="FormElement"
									 role="textbox" value="@Model.HorarioVespertinoDesde">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Horario Vespertino Hasta
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="HorarioVespertinoHasta" name="HorarioVespertinoHasta" class="FormElement"
									 role="textbox" value="@Model.HorarioVespertinoHasta">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Inasistencias Consecutivas Bloqueo (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="NumeroInasistenciasConsecutivasGeneranBloqueo" name="NumeroInasistenciasConsecutivasGeneranBloqueo" class="FormElement"
									 role="textbox"  value="@Model.NumeroInasistenciasConsecutivasGeneranBloqueo">
					</td>
				</tr>
				<tr rowpos="6" class="FormData" id="tr_FechaIngreso">
					<td class="CaptionTD">
						Google Maps Key (*)
					</td>
					<td class="DataTD">
						&nbsp;<input type="text" id="GoogleMapsKey" name="GoogleMapsKey" class="FormElement"
									 role="textbox" value="@Model.GoogleMapsKey">
					</td>
				</tr>

				<tr style="display: none;" class="FormData">
					<td class="CaptionTD">
					</td>
					<td class="DataTD" colspan="1">
						<input type="text" value="_empty" name="data_id" id="id_g" class="FormElement">
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	<table cellspacing="0" cellpadding="0" border="0" id="TblGrid_data_2" class="EditTable">
		<tbody>
			<tr>
				<td colspan="2">
					<hr style="margin: 1px" class="ui-widget-content">
				</td>
			</tr>
			<tr id="Act_Buttons">
				<td class="navButton">
				</td>
				<td class="EditButton">
					<a class="fm-button ui-state-default ui-corner-all fm-button-icon-left" id="sData"
					   href="javascript:void(0)">Guardar<span class="ui-icon ui-icon-disk"></span></a>
				</td>
			</tr>
			<tr class="binfo" style="display: none">
				<td colspan="2" class="bottominfo">
				</td>
			</tr>
		</tbody>
	</table>
</div>

@section Scripts{
	<script language="javascript" type="text/javascript">
		$(function () {
			$("#sData").click(function () {
				$("form").submit();
			});
		});
	</script>	
}
*@