@using Sicemed.Web.Areas.Admin.Models.Clinicas
@model ClinicaEditViewModel
@{
    ViewBag.Title = "Administración Datos Clínica";
}
<h2>
    Administraci&oacute;n Datos Cl&iacute;nica
</h2>

@if (!string.IsNullOrWhiteSpace(ViewBag.Message))
{
    <h3 class="ui-state-highlight">@ViewBag.Message</h3>
}

@using(Html.BeginForm("Guardar", "Clinicas")){
    @Html.AntiForgeryToken()

    @Html.ValidationSummaryWithMessage()

	@Html.EditorForModel()

    @Html.Submit()
}

@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#action-add").click(function () {
                $.ajax({
                    url: this.href,
                    cache: false,
                    success: function (html) { $("#telefonos").append(html); }
                });
                return false;
            });

            $("a.action-delete").live("click", function () {
                $(this).parents("div.editor-field-inner:first").remove();
                return false;
            });            
        })
    </script>
}
