@model Sicemed.Web.Models.ViewModels.Profesional.AgendaProfesionalViewModel
@{
    ViewBag.Title = "Agenda Profesional";
}
@section Css
{
    <style type="text/css">
        .padding
        {
            padding: 10px;
            margin: 10px;
        }
        .fecha
        {
            color: #CA2B63 !important;
            font-size: 20px;
            font-weight: bold;
            width: 105px !important;
        }
    </style>
}
@using (Html.BeginForm())
{
    <h2>
        Agenda -
        <input type="date" class="fecha" name="fecha" value="@Model.FechaTurnos.ToShortDateString()" />
        @Html.Submit("Actualizar")
    </h2>
}
<h3>@Model.PersonaNombreCompleto</h3>
@if (Model.Turnos.Any())
{
    <div class="ui-state-highlight padding">
        Le restan @Model.PacientesPendientes pacientes por atenderse. Y @Model.TurnosPendientes
        pendientes de presentarse.
    </div>
    <div class="ctl-accordion">
        @foreach (var turno in Model.Turnos)
        {
            @Html.DisplayFor(m => turno)
        }
    </div>
}
else
{
    <div class="ui-state-highlight padding">
        No hay pacientes en la agenda.
    </div>    
}