@model Sicemed.Web.Models.ViewModels.Profesional.AgendaProfesionalViewModel
@{
    ViewBag.Title = "Agenda Profesional";
}
@using (Html.BeginForm())
{
    <h2>
        Agenda -
        <input type="date" class="fecha-filtro" name="fecha" value="@Model.FechaTurnos.ToShortDateString()" />
        @Html.Submit("Actualizar")
    </h2>
}
<h3>@Model.PersonaNombreCompleto</h3>

@if (Model.Turnos.Any())
{
    <div class="msg-info">
        Le restan @Model.PacientesPendientes pacientes por atenderse. Y @Model.TurnosPendientes
        pendientes de presentarse.
        @using (Html.BeginForm("CancelarTurnosProfesional", "Profesional"))
        {
            @Html.AntiForgeryToken()        
            <input type="hidden" name="fecha" value="@Model.FechaTurnos.ToShortDateString()"/>
            <input type="hidden" name="prompt" value="" />
            <a href="#" class="ctl-cancelar-prompt button_link btn_black"><span>Cancelar Todos Los Turnos de la Fecha</span></a>
        }
    </div>
    <div class="ctl-accordion">
        @foreach (var turno in Model.Turnos)
        {
            @Html.DisplayFor(m => turno)
        }
    </div>
}
else
{
    <div class="msg-error">
        No hay pacientes en la agenda.
    </div>    
}