@{
    ViewBag.Title = "Administración De Páginas";
}
<h2>
    Administraci&oacute;n de P&aacute;ginas
</h2>

<p>
    Para cargar el contenido de las p&aacute;ginas se utiliza el marcado <a href="http://en.wikipedia.org/wiki/Textile_(markup_language)" target="_blank">Textile</a>
    <br />
    Una gu&iacute;a de este marcado puede encontrarse en <a href="http://redcloth.org/hobix.com/textile/" target="_blank">aqu&iacute;</a>.
</p>

@Html.Partial("GrillaBase")

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            app.grid.initialize({
                    url: {
                        edit: '@Url.Action("Editar")',
                    add: '@Url.Action("Nuevo")',
                    del: '@Url.Action("Eliminar")',
                    list: '@Url.Action("List")'
                },
                params: {                    
                    caption: 'Gesti&oacute;n De P&aacute;ginas',
                    emptyrecords: 'No hay P&aacute;ginas cargadas.',
                    modalWidth: 600,                    
                    colNames: ['Id', 'Nombre', 'Url', 'Orden', 'Contenido', 'Padre'],
                    colModel: [
                            {
                                name: 'Id',
                                index: 'Id',
                                width: 55,
                                sortable: false,
                                hidden: true
                            },
                            {
                                name: 'Nombre',
                                index: 'Nombre',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Nombre (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Url',
                                index: 'Url',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Url (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Orden',
                                index: 'Orden',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true,
                                    number: true
                                },
                                formoptions: {
                                    label: 'Orden (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Contenido',
                                index: 'Contenido',
                                width: 300,
                                editable: true,
                                sortable: false,
                                edittype: 'textarea',
                                editoptions: {
                                    rows: '30',
                                    cols: '70'
                                },
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Contenido (*)',
                                    maxlength: '50',
                                    size: '50'
                                }
                            },
                            {
                                name: 'PadreId',
                                index: 'Padre',
                                formatter: function ( cellvalue, options, rowObject )
                                {                    
                                    if(rowObject.Padre)
                                        return rowObject.Padre.Nombre;
                                    return "";
                                },
                                width: 90,
                                editable: true,
                                sortable: false,
                                edittype: 'select',
                                editoptions: {
                                    dataUrl: '@Url.Action("ObtenerPaginasPadre")'
                                },
                                formoptions: {
                                    label: 'Padre (*)'
                                }
                            }                        
                        ]
                }
            });
        });
    </script>
}
