@model Sicemed.Web.Models.ViewModels.Secretaria.TurnosDelDiaViewModel
@section Css
{
    <style type="text/css">
        .pacientes
        {
            padding: 10px;
        }
        
        ol.turnos
        {
            margin: 0;
        }
        ol.turnos li
        {
            list-style-type: none;
        }
        
        ol.turnos li.presentado span
        {
            color: #2e8f19;
        }
        
        ol.turnos li.cancelado span
        {
            color: #CA2B63;
            text-decoration: line-through;
        }
        
        ol.turnos li.atendido
        {
            text-decoration: line-through;
        }
        
        .fecha
        {
            color: #CA2B63 !important;
            font-size: 20px;
            font-weight: bold;
            width: 105px !important;
        }
    </style>
}
@{
    ViewBag.Title = "Presentación De Turnos";
}
@using (Html.BeginForm())
{
    <h2>
        Turnos del d&iacute;a -
        <input type="date" class="fecha" name="fecha" value="@Model.FechaTurnos.ToShortDateString()" />
        @Html.Submit("Actualizar")
    </h2>
}
@if (Model.ProfesionalesConTurnos.Any())
{
    <div class="ctl-accordion">
        @foreach (var profesional in Model.ProfesionalesConTurnos)
        {
            <h3>
                <a href="#">@profesional.PersonaNombreCompleto</a></h3>
            <div>
                <div class="ui-state-highlight pacientes">
                    Le restan @profesional.PacientesPendientes pacientes por atenderse. Y @profesional.TurnosPendientes
                    pendientes de presentarse.
                </div>
                <div>
                    @using (Html.BeginForm("CancelarTurnosProfesional", "Secretaria"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="profesionalId" value="@profesional.Id"/>
                        <input type="hidden" name="fecha" value="@Model.FechaTurnos.ToShortDateString()"/>
                        <input type="hidden" name="prompt" value="" />
                        <a href="#" class="ctl-cancelar-prompt">Cancelar Todos Los Turnos de la Fecha</a>
                    }
                </div>
                <ol class="turnos">
                    @foreach (var turno in profesional.Turnos)
                    {
                        @Html.DisplayFor(m => turno)
                    }
                </ol>
            </div>        
        }
    </div>    
}
else
{
    <div class="ui-state-highlight">
        No hay turnos otorgados para el d&iacute;a.
    </div>
}