@model Sicemed.Web.Models.ViewModels.Secretaria.TurnosDelDiaViewModel
@{
    ViewBag.Title = "Presentación De Turnos";
}
@using (Html.BeginForm())
{
    <h2>
        Turnos del d&iacute;a -
        <input class="fecha-filtro date" name="fecha" value="@Model.FechaTurnos.ToShortDateString()" />
        @Html.Submit("Actualizar")
    </h2>
}
@if (Model.ProfesionalesConTurnos.Any())
{
    <div class="ctl-accordion">
        @foreach (var profesional in Model.ProfesionalesConTurnos)
        {
            <h3>
                <a href="#">@profesional.PersonaNombreCompleto</a>
            </h3>
            <div>
                <div class="msg-info">
                    Le restan @profesional.PacientesPendientes pacientes por atenderse. Y @profesional.TurnosPendientes
                    pendientes de presentarse.
                    @using (Html.BeginForm("CancelarTurnosProfesional", "Secretaria"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="profesionalId" value="@profesional.Id"/>
                        <input type="hidden" name="fecha" value="@Model.FechaTurnos.ToShortDateString()"/>
                        <input type="hidden" name="prompt" value="" />
                        <a href="#" class="ctl-cancelar-prompt button_link btn_black"><span>Cancelar Todos Los Turnos de la Fecha</span></a>
                    }
                </div>
                <ol class="turnos">
                    @foreach (var turno in profesional.Turnos)
                    {
                        @Html.DisplayFor(m => turno)
                    }
                </ol>
            </div>        
        }
    </div>    
}
else
{
    <div class="msg-error">
        No hay turnos otorgados para el d&iacute;a.
    </div>
}