@model Sicemed.Web.Models.ViewModels.Secretaria.EdicionPacienteEditModel
@{
    ViewBag.Title = "Edición Paciente";
}

<h2>Edici&oacute;n Paciente</h2>

@if (!Model.Id.HasValue)
{
    using (Html.BeginForm("EdicionPaciente", "Secretaria", FormMethod.Get))
    {
    @Html.ValidationSummaryWithMessage()

    <fieldset class="form">
        <ul>
            <li>
                <div class="editor-label editor-label-required">
                    <label for="Id">Paciente</label>
                </div>
                <div class="editor-field">
                    <input class="searcheable" data-display-property="NombreCompleto" data-prompt="Seleccione Paciente" data-template="tmplBusquedaPaciente" data-url="/Busqueda/Paciente" data-val="true" data-val-number="El campo Paciente debe ser un n&amp;#250;mero." data-val-required="El campo Paciente es requerido." id="Id" name="Id" type="hidden" value="327682" style="display: none; ">
                </div>
                <div class="editor-validator">
                    <span class="field-validation-valid" data-valmsg-for="Id" data-valmsg-replace="true"></span>
                </div>
            </li>
        </ul>
    </fieldset>    

    @Html.Submit("Editar")        
    }    
}
else
{
    <h3>@Model.Apellido, @Model.Nombre</h3>
    
    using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    @Html.EditorForModel()

    @Html.Submit("Guardar")        
    }
}

<script id="tmplBusquedaPaciente" type="text/x-jquery-tmpl">
    ${NombreCompleto}
    <br />
    <span style="font-style: italic; font-size: x-small">${TipoDocumento} ${Documento}
    </span>
</script>
