@model Sicemed.Web.Models.ViewModels.Secretaria.OtorgarTurnoEditModel
@{
    ViewBag.Title = "Otorgar Turno";
}

<h2>Otorgar Turno</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    <fieldset class="form">
        <ul>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.EsTelefonico)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(x => x.EsTelefonico)
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.EsTelefonico)
                </div>
            </li>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.PacienteId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.PacienteId)
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.PacienteId)
                </div>
            </li>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.ProfesionalId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.ProfesionalId)
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.ProfesionalId)
                </div>
            </li>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.EspecialidadId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.EspecialidadId)
                    <div style="display: inline;">
                        @Html.HiddenFor(x => x.EsSobreTurno)
                        <input type="text" class="text-box single-line date" id="txtSobreTurnoFecha" value="@DateTime.Now.ToShortDateString()"></input>
                        <input type="text" class="text-box single-line time" id="txtSobreTurnoHora" value="@DateTime.Now.ToShortTimeString()"></input>
                        <a href="#" id="cmdSobreTurno" class="button_link btn_pink"><span>Otorgar Sobreturno</span></a>                        
                    </div>
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.EspecialidadId)
                </div>
            </li>
            <li>
                @Html.HiddenFor(x => x.ConsultorioId)
                @Html.HiddenFor(x => x.FechaTurno)
                <div id="calendar">
                </div>
            </li>
        </ul>
    </fieldset>   
}

<script id="tmplBusquedaPaciente" type="text/x-jquery-tmpl">
    ${NombreCompleto}
    <br />
    <span style="font-style: italic; font-size: x-small">${TipoDocumento} ${Documento}
    </span>
</script>
<script id="tmplBusquedaProfesional" type="text/x-jquery-tmpl">
    ${NombreCompleto}
    <br />
    <span style="font-style: italic; font-size: x-small">${TipoDocumento} ${Documento}
    </span>
    <br />
    {{each Especialidades}}${Descripcion} - {{/each}}
</script>

@section Scripts{
    <script type="text/javascript">
        
        var attachTooltips = function () {
            $(".hasTooltip[title]")
                .tooltip({ effect: 'slide', offset: [10, 2], position: 'bottom rigth' })
                .on("mouseover", function () {
                    $(this).addClass("event-hover");
                })
                .on("mouseout", function () {
                    $(this).removeClass("event-hover");
                });
        };

        var renderCalendar = function(param, data) {
            var events = [];
            var calendar = $("#calendar");
            calendar.fullCalendar('removeEvents');
            for (var i = data.length - 1; i >= 0; i--) {
                var turno = data[i];
                var especialidadesAtendidasTurno = $.map(turno.EspecialidadesAtendidas, function(especialidad) {
                    return especialidad.Descripcion;
                }).join(",");
                var description = "<div class='turno-libre'>"
                    + "<span class='text-blue'>Fecha Turno:</span><span>" + app.format.date(turno.FechaTurnoInicial) + "</span><br/>"
                    + "<span class='text-blue'>Horario:</span><span>" + app.format.hour(turno.FechaTurnoInicial) + " / " + app.format.hour(turno.FechaTurnoFinal) + "</span><br/>"
                    + "<span class='text-blue'>Consultorio:</span><span>" + turno.Consultorio.Descripcion + "</span><br/>"
                    + "<span class='text-blue'>Especialidades:</span><span>" + especialidadesAtendidasTurno + "</span>"
                    + "</div>";
                var event = {
                    title: turno.Paciente ? turno.Paciente.Descripcion : "Reservar...",
                    start: turno.FechaTurnoInicial,
                    end: turno.FechaTurnoFinal,
                    allDay: false,
                    description: turno.Paciente ? '' : description,
                    color: turno.Paciente ? '#F00' : null,
                    libre: !turno.Paciente,
                    turno: turno
                };
                events.push(event);
            }
            calendar.fullCalendar('addEventSource', events);
            //Tooltip
            calendar.show();
            calendar.fullCalendar('rerenderEvents');
            attachTooltips();            
        };

        var profesionalSelect = function () {
            var val = $("#ProfesionalId").val();
            if(!val) {
                $("#EspecialidadId").select2({
                    data: {results:[]},
                    width: '300px',
                    placeholder: "Seleccione un Profesional",
                    id: function(e) { return e.Id; },
                    allowClear: true
                }).select2("disable");
                return;
            }
            var param = { profesionalId: val };            
            $.getJSON("@Url.Action("GetEspecialidadesProfesional")", param, function (d) {
                var format = function(obj) {
                    return obj.Descripcion;
                };
                $("#EspecialidadId").select2({
                    data: {results: d, text: 'Descripcion'},
                    width: '300px',
                    placeholder: "Seleccione Especialidad",
                    id: function (e) { return e.Id; },
                    allowClear: true,                    
                    formatResult: format,
                    formatSelection: format
                }).select2("enable").change(especialidadSelect);
                if(d.length > 0) $("#EspecialidadId").select2("data", d[0]).trigger("change");
            });            
        };

        var especialidadSelect = function () {
            var val = $("#EspecialidadId").val();
            if(!val) {
                $('#calendar').hide();
                return;
            }
            var param = {
                especialidadId: val,
                profesionalId: $("#ProfesionalId").val()
            };
            $.getJSON("@Url.Action("GetTurnosDisponiblesProfesional")", param, function (d) { renderCalendar(param, d); });            
        };

        var otorgarSobreTurno = function() {
            var date = $.datepicker.parseDate("dd/mm/yy", $("#txtSobreTurnoFecha").val());
            var minutes = $.fullCalendar.parseTime($("#txtSobreTurnoHora").val());            
            date.setMinutes(minutes);            
            var fecha = app.format.fulldate(date);
            var text = "¿Est&aacute; seguro que quiere otorgar al paciente"
                +" <strong>"+$("#PacienteId").select2("data").NombreCompleto+"</strong>"
                +" un sobre turno para el d&iacute;a <strong>"+fecha+"</strong> "
                +" para el profesional <strong>"+$("#ProfesionalId").select2("data").NombreCompleto+"</strong>?";
            app.ui.showConfirmation(text, function() {
                $("#FechaTurno").val(fecha);
                $("#ConsultorioId").val(null);
                $("#EsSobreTurno").val(true);
                $("form").submit();
            });            
        };

        jQuery(function () {
            $("#sobreTurnoFecha").datepicker({ dateFormat: "dd/mm/yy" });
            
            $("#cmdSobreTurno").click(otorgarSobreTurno);
            $("#ProfesionalId").change(profesionalSelect);
            $("#EspecialidadId").select2({
                data: {results:[]},
                width: '300px',
                placeholder: "Seleccione un Profesional",
                id: function(e) { return e.Id; },
                allowClear: true
            }).select2("disable");
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prev,next'
                },
                weekends: false,
                defaultView: 'agendaWeek',
                allDaySlot: false,
                minTime: '7:00', //Horario apertura clinica
                maxTime: '20:00', //Horario cierre clinica
                slotMinutes: 15, //Duracion por defecto turno
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                            'Agosto', 'Septiembre', 'Ocubtre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                            'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],
                buttonText: {
                    today: 'hoy',
                    month: 'mes',
                    week: 'semana',
                    day: 'dia'
                },
                columnFormat: {
                    month: 'ddd',
                    week: 'ddd d/M',
                    day: 'dddd d/M'
                },
                eventClick: function (calEvent, jsEvent, view) {
                    if (calEvent.libre) {
                        var fecha = app.format.fulldate(calEvent.turno.FechaTurnoInicial);
                        var text = "¿Est&aacute; seguro que quiere otorgar al paciente"
                            +" <strong>"+$("#PacienteId").select2("data").NombreCompleto+"</strong>"
                            +" un turno para el d&iacute;a <strong>"+fecha+"</strong> "
                            +" para el profesional <strong>"+$("#ProfesionalId").select2("data").NombreCompleto+"</strong>?";
                        app.ui.showConfirmation(text, function() {
                            $("#FechaTurno").val(fecha);
                            $("#ConsultorioId").val(calEvent.turno.Consultorio.Id);
                            $("form").submit();
                        });
                    }
                },
                eventMouseout: function (event, jsEvent, view) {
                    $(this).css('cursor', 'auto');
                },
                eventMouseover: function (event, jsEvent, view) {
                    if (event.libre) $(this).css('cursor', 'pointer');
                },
                viewDisplay: function () {
                    attachTooltips();
                },
                events: []
            }).hide();
            
        })
    </script>
}
