@using SICEMED.Web
@using Sicemed.Web.Infrastructure.Helpers
@model Sicemed.Web.Models.ViewModels.Secretaria.OtorgarTurnoEditModel
@{
    ViewBag.Title = "Otorgar Turno";
}

<h2>Otorgar Turno</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    <fieldset class="form">
        <ul>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.EsTelefonico)
                </div>
                <div class="editor-field">
                    @Html.CheckBoxFor(x => x.EsTelefonico)
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.EsTelefonico)
                </div>
            </li>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.PacienteId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.PacienteId)
                    <a href="@Url.Action("AltaPaciente")" target="_blank" class="button_link btn_blue">
                        <span>Alta Paciente</span>
                    </a>
                    <a data-url="@Url.Action("EdicionPaciente")?id=" id="lnkEdicionPaciente"  target="_blank" class="button_link btn_yellow" style="display: none;">
                        <span>Edici&oacute;n Paciente</span>
                    </a>
                    <a data-url="@Url.Action("TurnosPorPaciente","Historial")?SeleccionPaciente.PacienteSeleccionado.Id=" id="lnkTurnosPaciente"  target="_blank" class="button_link btn_pink" style="display: none;">
                        <span>Turnos</span>
                    </a>
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.PacienteId)
                </div>
            </li>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.ProfesionalId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.ProfesionalId)
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.ProfesionalId)
                </div>
            </li>
            <li>
                <div class="editor-label editor-label-required">
                    @Html.LabelFor(x => x.EspecialidadId)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.EspecialidadId)
                    <div id="sobreTurnoView" style="display: none;">
                        @Html.HiddenFor(x => x.EsSobreTurno)
                        <input type="text" class="text-box single-line date" id="txtSobreTurnoFecha" value="@DateTime.Now.ToShortDateString()"></input>
                        <input type="text" class="text-box single-line time" id="txtSobreTurnoHora" value="@DateTime.Now.ToShortTimeString().Replace(".", string.Empty).ToUpper()"></input>

                        Duraci&oacute;n:
                        <input type="text" class="text-box single-line time" id="txtSobreTurnoDuracion" value="@MvcApplication.Clinica.DuracionTurnoPorDefecto.ToString()"></input>
                        <a href="#" id="cmdSobreTurno" class="button_link btn_pink">
                            <span>Otorgar Sobreturno</span>
                        </a>
                    </div>
                </div>
                <div class="editor-validator">
                    @Html.ValidationMessageFor(x => x.EspecialidadId)
                </div>
            </li>
            <li>
                @Html.HiddenFor(x => x.ConsultorioId)
                @Html.HiddenFor(x => x.FechaTurno)
                @Html.HiddenFor(x => x.DuracionTurno)
                <div id="calendar">
                </div>
            </li>
        </ul>
    </fieldset>   
}

<script id="tmplBusquedaPaciente" type="text/x-jquery-tmpl">
    ${NombreCompleto}
    <br />
    <span style="font-style: italic; font-size: x-small">${TipoDocumento} ${Documento}
    </span>
</script>
<script id="tmplBusquedaProfesional" type="text/x-jquery-tmpl">
    ${NombreCompleto}
    <br />
    <span style="font-style: italic; font-size: x-small">${TipoDocumento} ${Documento}
    </span>
    <br />
    {{each Especialidades}}${Descripcion} - {{/each}}
</script>

@section Scripts{
    <script type="text/javascript">

        var attachTooltips = function () {
            $(".hasTooltip[title]")
                .tooltip({ effect: 'slide', offset: [10, 2], position: 'bottom rigth' })
                .on("mouseover", function () {
                    $(this).addClass("event-hover");
                })
                .on("mouseout", function () {
                    $(this).removeClass("event-hover");
                });
        };

        var renderCalendar = function (param, data) {
            var events = [];
            var calendar = $("#calendar");
            calendar.fullCalendar('removeEvents');
            for (var i = data.Turnos.length - 1; i >= 0; i--) {
                var turno = data.Turnos[i];
                var especialidadesAtendidasTurno = $.map(turno.EspecialidadesAtendidas, function (especialidad) {
                    return especialidad.Descripcion;
                }).join(",");

                var description = "<div class='turno-libre'>"
                    + "<span class='text-blue'>Fecha Turno:</span><span>" + app.format.date(turno.FechaTurnoInicial) + "</span><br/>"
                    + "<span class='text-blue'>Horario:</span><span>" + app.format.hour(turno.FechaTurnoInicial) + " / " + app.format.hour(turno.FechaTurnoFinal) + "</span><br/>";

                if (turno.Paciente) description += "<span class='text-blue'>Paciente:</span><span>" + turno.Paciente.Descripcion + "</span><br/>";
                if (turno.Consultorio) description += "<span class='text-blue'>Consultorio:</span><span>" + turno.Consultorio.Descripcion + "</span><br/>";

                description += "<span class='text-blue'>Especialidades:</span><span>" + especialidadesAtendidasTurno + "</span>"
                    + "</div>";

                var duracion = $.fullCalendar.parseTime(turno.DuracionTurno);

                var color = duracion <= 10 ? "#33CC52" : (duracion <= 20 ? "#36C" : "#6A33CC");

                var event = {
                    title: turno.Paciente ? turno.Paciente.Descripcion : "Reservar...",
                    start: turno.FechaTurnoInicial,
                    end: turno.FechaTurnoFinal,
                    allDay: false,
                    description: description,
                    color: turno.Paciente ? '#F00' : color,
                    libre: !turno.Paciente,
                    turno: turno
                };
                events.push(event);
            }
            calendar.fullCalendar('addEventSource', events);
            calendar.show();
            //Le cuesta el rendering
            setTimeout(function () {
                $("#calendar").fullCalendar('rerenderEvents');
                attachTooltips();
            }, 500);
        };

        var profesionalSelect = function () {
            var val = $("#ProfesionalId").val();
            if (!val) {
                $("#EspecialidadId").select2({
                    data: { results: [] },
                    width: '300px',
                    placeholder: "Seleccione un Profesional",
                    id: function (e) { return e.Id; },
                    allowClear: true
                }).select2("disable");
                return;
            }
            var param = { profesionalId: val };
            $.getJSON('@Url.Action("GetEspecialidadesProfesional")', param, function (d) {
                var format = function (obj) {
                    return obj.Descripcion;
                };
                $("#EspecialidadId").select2({
                    data: { results: d, text: 'Descripcion' },
                    width: '300px',
                    placeholder: "Seleccione Especialidad",
                    id: function (e) { return e.Id; },
                    allowClear: true,
                    formatResult: format,
                    formatSelection: format
                }).select2("enable").change(especialidadSelect);
                $("#sobreTurnoView").show();
                if (d.length > 0) $("#EspecialidadId").select2("data", d[0]).trigger("change");
            });
        };

        var pacienteSelect = function() {
            var paciente = $("#PacienteId").val();
            var lnkEdicionPaciente = $("#lnkEdicionPaciente");
            var lnkTurnosPaciente = $("#lnkTurnosPaciente");
            if(!paciente) {
                lnkEdicionPaciente.fadeOut();
                lnkTurnosPaciente.fadeOut();
                return;
            }            
            lnkEdicionPaciente.attr("href", lnkEdicionPaciente.data("url") + paciente).fadeIn();
            lnkTurnosPaciente.attr("href", lnkTurnosPaciente.data("url") + paciente).fadeIn();
        };

        var especialidadSelect = function () {
            var val = $("#EspecialidadId").val();
            if (!val) {
                $('#calendar').hide();
                $("#sobreTurnoView").hide();
                return;
            }
            $("#sobreTurnoView").show();
            var param = {
                especialidadId: val,
                profesionalId: $("#ProfesionalId").val()
            };
            $.getJSON('@Url.Action("GetTurnosProfesional")', param, function (d) { renderCalendar(param, d); });
        };

        var otorgarSobreTurno = function () {
            var date = $.datepicker.parseDate("dd/mm/yy", $("#txtSobreTurnoFecha").val());
            var minutes = $.fullCalendar.parseTime($("#txtSobreTurnoHora").val());
            date.setMinutes(minutes);
            var duracion = $("#txtSobreTurnoDuracion").val();
            var fecha = app.format.fulldate(date);
            var text = "¿Est&aacute; seguro que quiere otorgar al paciente"
                + " <strong>" + $("#PacienteId").select2("data").NombreCompleto + "</strong>"
                + " un sobre turno para el d&iacute;a <strong>" + fecha + "</strong> con una duraci&oacute;n de <strong>" + duracion + "</strong> "
                + " para el profesional <strong>" + $("#ProfesionalId").select2("data").NombreCompleto + "</strong>?";
            app.ui.showConfirmation(text, function () {
                $("#FechaTurno").val(fecha);
                $("#ConsultorioId").val(null);
                $("#EsSobreTurno").val(true);
                $("#DuracionTurno").val(duracion);
                $("form").submit();
            });
            return false;
        };

        jQuery(function () {
            $("#sobreTurnoFecha").datepicker({ dateFormat: "dd/mm/yy" });

            $("#cmdSobreTurno").click(otorgarSobreTurno);
            $("#ProfesionalId").change(profesionalSelect);
            $("#PacienteId").change(pacienteSelect);
            $("#EspecialidadId").select2({
                data: { results: [] },
                width: '300px',
                placeholder: "Seleccione un Profesional",
                id: function (e) { return e.Id; },
                allowClear: true
            }).select2("disable");
            $('#calendar').fullCalendar({
                theme: true,
                header: {
                    left: 'title',
                    center: '',
                    right: 'today prev,next'
                },
                weekends: false,
                defaultView: 'agendaWeek',
                allDaySlot: false,
                minTime: '@MvcApplication.Clinica.HorarioMatutinoDesde.Subtract(TimeSpan.FromMinutes(30)).ToString(@"hh\:mm")', //Horario apertura clinica
                maxTime: '@MvcApplication.Clinica.HorarioHasta.Add(TimeSpan.FromMinutes(30)).ToString(@"hh\:mm")', //Horario cierre clinica
                slotMinutes: @MvcApplication.Clinica.DuracionTurnoPorDefecto.TotalMinutes, //Duracion por defecto turno
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mier', 'Jue', 'Vie', 'Sab'],
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio',
                            'Agosto', 'Septiembre', 'Ocubtre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun',
                            'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'],
                buttonText: {
                    today: 'hoy',
                    month: 'mes',
                    week: 'semana',
                    day: 'dia'
                },
                timeFormat: {
                    agenda: 'H:mm{ - H:mm}',
                    axisFormat: 'H(:mm)t',
                    '': 'H(:mm)t'
                },
                columnFormat: {
                    month: 'ddd',
                    week: 'ddd d/M',
                    day: 'dddd d/M'
                },
                eventClick: function (calEvent, jsEvent, view) {
                    if (calEvent.libre) {
                        var fecha = app.format.fulldate(calEvent.turno.FechaTurnoInicial);
                        var duracion = calEvent.turno.DuracionTurno;
                        var text = "¿Est&aacute; seguro que quiere otorgar al paciente"
                            + " <strong>" + $("#PacienteId").select2("data").NombreCompleto + "</strong>"
                            + " un turno para el d&iacute;a <strong>" + fecha + "</strong> con una duraci&oacute;n de <strong>" + duracion + "</strong> "
                            + " para el profesional <strong>" + $("#ProfesionalId").select2("data").NombreCompleto + "</strong>?";
                        app.ui.showConfirmation(text, function () {
                            $("#FechaTurno").val(fecha);
                            $("#ConsultorioId").val(calEvent.turno.Consultorio.Id);
                            $("#DuracionTurno").val(calEvent.turno.DuracionTurno);
                            $("form").submit();
                        });
                    }
                },
                eventMouseout: function (event, jsEvent, view) {
                    $(this).css('cursor', 'auto');
                },
                eventMouseover: function (event, jsEvent, view) {
                    if (event.libre) $(this).css('cursor', 'pointer');
                },
                viewDisplay: function (view) {
                    //http://code.google.com/p/fullcalendar/issues/detail?id=610#c5
                    var n = view.name,
                        body_h = $('div.fc-view-' + n + ' > div > div > div').height();


                    $('div.fc-view-' + n + ' > div > div, div.fc-view-' + n + ' .fc-agenda-days').height(body_h + 20 + 'px');
                    $('div.fc-view-' + n + ' .fc-agenda-days thead th').height(20);

                    attachTooltips();
                },
                events: []
            }).hide();

            //Quito el Cargando para esta página que queda mal.
            $(document).unbind("ajaxStart");
        })
    </script>
}
