@using Sicemed.Web.Infrastructure.Helpers
@using Sicemed.Web.Models
@using Sicemed.Web.Models.Enumerations
@model Sicemed.Web.Models.ViewModels.Paciente.AgendaPacienteViewModel.TurnoViewModel
@{

    var css = Model.Estado != EstadoTurno.Otorgado && Model.Estado != EstadoTurno.Presentado
        && Model.Estado != EstadoTurno.Cancelado ? "ui-state-disabled " : string.Empty;
    css += Model.Estado == EstadoTurno.Presentado ? "ui-state-highlight" : string.Empty;
}
<h3 class="@css">
    <a href="#">
        @Model.FechaTurno.ToString("ddddd dd/MM/yyyy HH:mm") - @Model.Profesional.Descripcion | @Model.Estado
    </a>
</h3>
<div>
    <div class="turno turno-@Model.Estado.ToString().ToLower()">
        <div>
            Especialidad: @Model.Especialidad.Descripcion
            @if(Model.Consultorio != null)
            {
                <br />
                @:Consultorio: @Model.Consultorio.Descripcion                
            }
        </div>
        <div>
            @if (Model.Estado == EstadoTurno.Presentado)
            {
                <span>Se encuentra esperando hace @(DateTime.Now.Subtract(Model.FechaIngreso.Value).Minutes)
                    minutos.</span>
            }
            @if (Model.Estado == EstadoTurno.Atendido)
            {
                <strong>Diagn&oacute;stico</strong>
                <div>
                    @Html.Nl2Br(Model.Nota)
                </div>                                              
            }                            
            @if (Model.Estado == EstadoTurno.Cancelado)
            {
                <strong>Cancelaci&oacute;n</strong>
                <div>
                    Cancelado por @Model.CanceladoPor.Descripcion el @Model.FechaCancelacion.Value.ToFullDate()
                </div>
                <strong>Motivo</strong>
                <div>                    
                    @Html.Nl2Br(Model.MotivoCancelacion)
                </div>
            }                
            @if (Model.PuedoCancelar)
            {
                using (Html.BeginForm("CancelarTurno", "Paciente"))
                {
                    @Html.Partial("_CancelarTurno")
                }
            }                                   
        </div>
    </div>
</div>
