@using Sicemed.Web.Models.ViewModels.Cuenta
@model InciarSesionViewModel

@{
    ViewBag.Title = "Iniciar Sesión";
}

<h2>Iniciar Sesi&oacute;n</h2>
<p>
    Por favor ingrese su Email y Password. O @Html.ActionLink("Registrese", "Registro") si no posee una cuenta.
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummaryWithMessage()
    
    @Html.EditorForModel()
    
    @Html.Submit("Iniciar Sesión")
}
<p>
    Olvid&oacute; su password? @Html.ActionLink("haga click aquí para recuperarlo.", "RecuperarPassword").
</p>
