@using Sicemed.Web.Models.ViewModels.Cuenta
@model CambiarPasswordMailViewModel
@{
    ViewBag.Title = "Recuperar Password";
}
<h2>
    Cambiar Password</h2>
<p>
    Utilice el formulario para cambiar su password.
</p>
<p>
    El password debe tener como m&iacute;nimo una longitud de @ViewBag.PasswordLength
    caracteres.
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummaryWithMessage()
    @Html.HiddenFor(x=>x.Token)
    @Html.HiddenFor(x => x.Email)

    <fieldset class="form">
        <legend>Ingrese su nuevo password</legend>
        <ol>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(m => m.PasswordNuevo)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.PasswordNuevo)
                    @Html.ValidationMessageFor(m => m.PasswordNuevo)
                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(m => m.ConfirmacionPasswordNuevo)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(m => m.ConfirmacionPasswordNuevo)
                    @Html.ValidationMessageFor(m => m.ConfirmacionPasswordNuevo)
                </div>
            </li>
        </ol>
    </fieldset>
        
    @Html.Submit()
}
