@using Sicemed.Web.Models.ViewModels.Cuenta
@model RegistroPersonaViewModel

@{
    ViewBag.Title = "Registro";
}

<h2>Crear una nueva cuenta</h2>
<p>
    Utilice el formulario para crear una nueva cuenta en Sicemed. 
</p>
<p>
    El password debe tener como m&iacute;nimo una longitud de @ViewBag.PasswordLength caracteres.
</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummaryWithMessage()

    @Html.EditorForModel()

    @Html.Submit("Registrarse")        
}
