@model Sicemed.Web.Areas.Admin.Models.Logs.LogsSearchFiltersViewModel
@{
    ViewBag.Title = "Visualización de Logs";
}
@section Css{
    <style type="text/css">
        .error-fatal
        {
            color: purple;
        }
        .error-error
        {
            color: red;
        }
        .error-warn
        {
            color: orange;
        }
        .error-info
        {
            color: green;
        }
        .error-debug
        {
            color: black;
        }
    </style>
}
<h2>
    Visualizaci&oacute;n de Logs
</h2>

@using (Html.BeginForm("Index", "Logs", FormMethod.Get, new { id = "search-filters" }))
{
    @Html.ValidationSummaryWithMessage()

    @Html.EditorForModel()
    
    @Html.Submit("Filtrar")    
}

@Html.Partial("GrillaBase")

<div id="detalle" title="Detalle" class="ui-helper-hidden">
    <div>
    </div>
</div>

<script id="tmplDetalle" type="text/html">
    <div>
        <table class="detail error-${Level.toLowerCase()}">
            <tr>
                <th>Date</th>
                <td>${app.format.fulldate(Date)}</td>
            </tr>
            <tr class="even">
                <th>Level</th>
                <td>${Level}</td>
            </tr>
            <tr>
                <th>Logger</th>
                <td>${Logger}</td>
            </tr>
            <tr class="even">
                <th>Thread</th>
                <td>${Thread}</td>
            </tr>
            <tr>
                <th>UserId</th>
                <td>${UserId}</td>
            </tr>
            <tr class="even">
                <th>UserIp</th>
                <td>${UserIp}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>${Message}</td>
            </tr>
            <tr class="even">
                <th>Exception</th>
                <td>${Exception}</td>
            </tr>
        </table>
    </div>
</script>
@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            app.grid.initialize({
                url: {
                    list: '@Url.Action("List")'
                },
                params: {
                    editable: false,
                    addable: false,
                    deleteable: false,
                    caption: 'Visualizaci&oacute;n de Logs',
                    emptyrecords: 'No hay registros de logs.',
                    colNames: ['Id', 'Date', 'Level', 'Logger', 'Thread', 'UserId', 'UserIp'],
                    rowNum: 25,
                    rowList: [25, 50, 100],                    
                    serializeGridData: function (postData) {
                        var searchData = $("#search-filters").serializeObject();
                        var newData = $.extend({}, postData, searchData);
                        return newData;
                    },
                    loadComplete: function(data){
                        var grid = $(this);
                        for(var i = data.Rows.length - 1; i >= 0; i--) {
                            var row = data.Rows[i];
                            grid.find("#" + row.Id).find("td").addClass("error-"+row.Level.toLowerCase());                            
                        }
                    },             
                    colModel: [
                            {
                                name: 'Id',
                                index: 'Id',
                                width: 55,
                                sortable: false,
                                hidden: true
                            },
                            {
                                name: 'Date',
                                index: 'Date',
                                width: 90,
                                editable: true,
                                sortable: false,
                                formatter: 'date',
                                formatoptions: {
                                    newformat: 'd/m/Y h:i:s'
                                }
                            },
                            {
                                name: 'Level',
                                index: 'Level',
                                width: 90,
                                editable: false,
                                sortable: false
                            },                        
                            {
                                name: 'Logger',
                                index: 'Logger',
                                width: 90,
                                editable: false,
                                sortable: false
                            },                        
                            {
                                name: 'Thread',
                                index: 'Thread',
                                width: 90,
                                editable: false,
                                sortable: false
                            },                        
                            {
                                name: 'UserId',
                                index: 'UserId',
                                width: 90,
                                editable: false,
                                sortable: false
                            },                        
                            {
                                name: 'UserIp',
                                index: 'UserIp',
                                width: 90,
                                editable: false,
                                sortable: false
                            }
                    ]                        
                }
            });
            
            $("#data").jqGrid('navButtonAdd',"#pager", {
                caption:"Detalle", 
                buttonicon:"ui-icon-newwin", 
                onClickButton:function () {
                    var selected = $("#data").getGridParam('selrow');
                    if(!selected) {
                        app.ui.showError("Debe seleccionar un elemento de la lista.");
                        return;
                    }
                    $.postAntiForgery("@Url.Action("Get")", { id: selected }).done(function (audit) {
                        $("#detalle div").replaceWith($("#tmplDetalle").tmpl(audit));
                        $("#detalle").dialog('open');
                    });
                }, 
                position: "last", 
                title:"Detalle", 
                cursor: "pointer"
            });

            $("#detalle").dialog({
                width: 1024,
                autoOpen: false,
                modal: true
            });
        });
    </script>
}
