@model IEnumerable<Provincia>
@using Sicemed.Web.Models
@using Sicemed.Web.Models.Enumerations.Documentos

@{
    ViewBag.Title = "Administración De Personas";
}
<h2>
    Administraci&oacute;n de Personas
</h2>

@Html.Partial("GrillaBase")

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            app.grid.initialize({
                url: {
                    edit: '@Url.Action("Editar")',
                    add: '@Url.Action("Nuevo")',
                    del: '@Url.Action("Eliminar")',
                    list: '@Url.Action("List")'
                },
                params: {
                    caption: 'Gesti&oacute;n De Personas',
                    emptyrecords: 'No hay Personas cargados.',
                    colNames: [
                        'Id', 
                        'Email', 
                        'Apellido', 
                        'Nombre', 
                        'Segundo Nombre', 
                        'Password', 
                        'Roles',
                        'Fecha Nacimiento', 
                        'Tipo Documento', 
                        'Nro Documento', 
                        'Domicilio',
                        'Localidad',
                        'Provincia', 
                        'Caracteristica',
                        'Telefono',
                        'Esta Bloqueado?'
                    ],
                    colModel: [
                            {
                                name: 'Id',
                                index: 'Id',
                                width: 55,
                                sortable: false,
                                hidden: true
                            },
                            {
                                name: 'Membership.Email',
                                index: 'Membership.Email',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true,
                                    email: true
                                },
                                formoptions: {
                                    label: 'Email (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Apellido',
                                index: 'Apellido',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },                                
                                formoptions: {
                                    label: 'Apellido (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Nombre',
                                index: 'Nombre',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },                                
                                formoptions: {
                                    label: 'Nombre (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'SegundoNombre',
                                index: 'SegundoNombre',
                                width: 90,
                                editable: true,
                                sortable: false,
                                formoptions: {
                                    label: 'Segundo Nombre',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Password',
                                index: 'Password',
                                width: 90,
                                editable: true,
                                sortable: false,
                                formatter: function ( cellvalue, options, rowObject ){
                                    return "***********";
                                },                                
                                edittype: 'password',
                                editrules: {
                                    required: true
                                },                                
                                formoptions: {
                                    label: 'Password (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },             
                            {
                                name: 'Roles',
                                index: 'Roles',
                                width: 90,
                                formatter: function(cellvalue, options, rowObject) {
                                    return rowObject;
                                },
                                editable: false,
                                sortable: false
                            },                        
                            {
                                name: 'FechaNacimiento',
                                index: 'FechaNacimiento',
                                width: 90,
                                editable: true,
                                sortable: false,
                                formatter: 'date',
                                formatoptions: {
                                    newformat: 'd/m/Y'
                                },
                                editoptions: {
                                    dataInit: function (element) {
                                        $(element).datepicker();
                                    }
                                },
                                editrules: {
                                    date: true,
                                    required: true
                                },
                                formoptions: {
                                    label: 'Fecha Nacimiento (*)',
                                    maxlength: '10',
                                    size: '10'
                                }
                            },
                            {
                                name: 'Documento.TipoDocumento.Value',
                                index: 'Documento.TipoDocumento.Value',
                                width: 90,
                                editable: true,
                                sortable: false,
                                edittype: 'select',
                                editoptions: {
                                  value: @Html.SelectJsonValues(TipoDocumento.TiposDeDocumentos)
                                },
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Tipo Documento (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Documento.Numero',
                                index: 'Documento.Numero',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true,
                                    number: true
                                },
                                formoptions: {
                                    label: 'Nro. Documento (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Domicilio.Direccion',
                                index: 'Domicilio.Direccion',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Direccion (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'LocalidadId',
                                index: 'Localidad',
                                formatter: function ( cellvalue, options, rowObject ){
                                    if(rowObject.Domicilio && rowObject.Domicilio.Localidad)
                                        return rowObject.Domicilio.Localidad.Nombre;
                                    return "";
                                },
                                width: 300,
                                editable: true,
                                sortable: false,
                                edittype: 'select',
                                editoptions: {
                                    value: {},
                                    dataInit: function(element) {
                                        setTimeout(function() {
                                             $("#ProvinciaId").trigger("change");
                                        }, 1);
                                    }  
                                },
                                formoptions: {
                                    label: 'Localidad',
                                    rowpos: 11                                    
                                }
                            },
                            {
                                name: 'ProvinciaId',
                                index: 'Provincia',
                                formatter: function ( cellvalue, options, rowObject ){
                                    if(rowObject.Domicilio && rowObject.Domicilio.Localidad && rowObject.Domicilio.Localidad.Provincia)
                                        return rowObject.Domicilio.Localidad.Provincia.Nombre;
                                    return "";
                                },
                                width: 300,
                                editable: true,
                                sortable: false,
                                edittype: 'select',
                                editoptions: {
                                    value: @Html.SelectJsonValues(x=>x.Id, x=>x.Nombre),
                                    dataEvents: [{
                                        type: 'change',
                                        fn: function(e) {
                                            var provinciaId = $(e.target).val();
                                            var ddlLocalidades = $("#tr_LocalidadId select");
                                            $.get('@Url.Action("ObtenerLocalidadesPorProvincia")?provinciaId=' + provinciaId, function(d) {                                                
                                                ddlLocalidades.html(d);
                                            });
                                        }
                                    }
                                    ]
                                },                                
                                formoptions: {
                                    label: 'Provincia',
                                    rowpos: 10                                  
                                }
                            },
                            {
                                name: 'Telefono.Prefijo',
                                index: 'Telefono.Prefijo',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true,
                                    number: true
                                },
                                formoptions: {
                                    label: 'Caracteristica (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Telefono.Numero',
                                index: 'Telefono.Numero',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true,
                                    number: true
                                },
                                formoptions: {
                                    label: 'Telefono (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Membership.IsLockedOut',
                                index: 'Membership.IsLockedOut',
                                width: 90,
                                editable: true,
                                edittype: 'checkbox',
                                formatter: 'booleanFormatter',
                                sortable: false,
                                editoptions: {
                                    value: 'true:false'  
                                },
                                formoptions: {
                                    label: 'Esta Bloquedo?'
                                }
                            }                        
                        ]
                }
            });
        });
    </script>
}
