@using Combres
@using SICEMED.Web
@using Sicemed.Web.Infrastructure
@using Sicemed.Web.Infrastructure.Controllers
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="Walter Poch">
    <meta name="Description" content="">
    <meta name="Keywords" content="">
    <title>@ViewBag.Title</title>
    @Html.Raw(WebExtensions.CombresLink("css"))
    <!--[if IE 7]>
    <link rel="stylesheet" type="text/css" href="../../public/css/theme_ie.css" />
    <![endif]-->
    @if (!MvcApplication.IsUsingProxy)
    {
        <script src="http://maps.googleapis.com/maps/api/js?key=@MvcApplication.Clinica.GoogleMapsKey&sensor=true" type="text/javascript"></script>        
    }
</head>
<body>
    <div class="body_wrap">
        <div class="header">
            <div class="header_top">
                <div class="container">
                    <div class="logo">
                        <a href="@Url.Content("~/")">
                            @if (!MvcApplication.IsUsingProxy)
                            {
                                <img src="../../public/images/theme/logo.png" alt="SICEMED" height="80" width="210" />
                            }
                        </a>
                    </div>
                    <div class="header_contacts">
                        <p>
                            @Html.Partial("_LogOnPartial")
                        </p>
                        <p>
                            Comun&iacute;quese con nosotros: 
                            <span class="icon_phone">
                                @foreach(var telefono in MvcApplication.Clinica.Telefonos)
                                {
                                    @Html.DisplayFor(x => telefono)
                                    <br/>
                                }                                                                 
                            </span>
                        </p>
                        <p>
                            @MvcApplication.Clinica.DomicilioDireccion, 
                            @MvcApplication.Clinica.DomicilioLocalidadNombre, 
                            @MvcApplication.Clinica.DomicilioLocalidadProvinciaNombre 
                            <a href="#" id="google-map-link" class="icon_map">Ver Mapa</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="header_menu">
                <div class="container">
                    <div class="topmenu">
                        <ul class="dropdown">
                            @Html.Partial("_MenuClinica", ViewData["_Menu"])
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header image/slider -->
            <div class="header_bot header_image">
                <div class="container">
                    @if (!MvcApplication.IsUsingProxy)
                    {
                        <img src="../../public/images/theme/header_image_2.jpg" alt="" height="142" width="960" />
                    }
                </div>
            </div>
            <!--/ header image/slider -->
        </div>
        <!--/ header -->
        <!-- middle -->
        <div class="middle">
            <div class="container_12">
                <!-- content -->
                <div class="grid_12 content">
                    <div class="post-item">
                        <div class="entry">
                            @RenderBody()
                        </div>
                    </div>
                </div>
                <!--/ content -->
                <div class="clear">
                </div>
            </div>
        </div>
        <div class="middle_bot">
        </div>
        <!--/ middle -->
        <!-- footer -->
        <div class="footer">
            <div class="container_12">
                <div class="grid_4 push_8">
                    <div class="text-right">
                        <p>
                            <a href="http://wpoch.com.ar" target="_blank">Developed by Walter Poch</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*google maps*@
    <div id="google-map-wrapper" title="SICEMED - Ubicaci&oacute;n">
        <div id="google-map" style="width: 100%; height: 100%">
        </div>
    </div>
    @Html.Raw(WebExtensions.CombresLink("js"))
    @RenderSection("Scripts", false)
    <script type="text/javascript">
        $(function () {
            app.initialize({
                isUsingProxy : @MvcApplication.IsUsingProxy.ToString().ToLower(),
                latitud: @MvcApplication.Clinica.DomicilioLatitud,
                longitud: @MvcApplication.Clinica.DomicilioLongitud
            });
                        
            @if (TempData.ContainsKey(BaseController.MESSAGES_KEY))
            {
                var storedMessages = (List<ResponseMessage>)TempData[BaseController.MESSAGES_KEY];
                foreach (var responseMessage in storedMessages)
                {
                    var growlSettings = responseMessage.IsSuccessful ? "header: '&Eacute;xito', theme: 'ui-state-sucess'" : "header: 'Error', theme: 'ui-state-error'";
                    @:$.jGrowl("@responseMessage.Description", { @Html.Raw(growlSettings), sticky: true});
                }
            }
        });        
    </script>
</body>
</html>
