@using Sicemed.Web.Models
@using Sicemed.Web.Models.Enumerations
@model Sicemed.Web.Models.ViewModels.Profesional.AgendaProfesionalViewModel.TurnoViewModel
@{

    var css = Model.Estado == EstadoTurno.Cancelado ? "ui-state-disabled " : string.Empty;
    css += Model.Estado == EstadoTurno.Presentado ? "ui-state-highlight" : string.Empty;

    var cssDuracion = Model.DuracionTurno <= TimeSpan.FromMinutes(10) ? "turno-duracion-corto" : (Model.DuracionTurno <= TimeSpan.FromMinutes(20) ? "turno-duracion-mediano" : "turno-duracion-largo");
}
<h3 class="@css">
    <a href="#" >
        <span class="@cssDuracion">@Model.FechaTurno.ToShortTimeString() / @Model.FechaTurnoFinal.ToShortTimeString()</span>
        | @Model.Paciente.Descripcion
        | @Model.Estado
    </a>    
</h3>
<div>
    <div class="turno turno-@Model.Estado.ToString().ToLower()">
        <div>            
            @if (Model.Especialidad != null && !string.IsNullOrWhiteSpace(Model.Especialidad.Descripcion))
            {
                @:<span class="text-blue">Especialidad:</span> @Model.Especialidad.Descripcion<br/>            
            }
            @if (!string.IsNullOrWhiteSpace(Model.Paciente.NumeroAfiliado))
            {
                @:<span class="text-blue">N&uacute;mero de Afiliado:</span> @Model.Paciente.NumeroAfiliado<br/>
            }
            @if(!string.IsNullOrWhiteSpace(Model.Paciente.Plan))
            {
                @:<span class="text-blue">Obra Social:</span> @Model.Paciente.Plan, @Model.Paciente.ObraSocial<br/>                
            }
            @if(Model.Paciente.Edad.HasValue)
            {
                @:<span class="text-blue">Edad:</span> @Model.Paciente.Edad.Value a&ntilde;os<br/>
            }
            @if(Model.Paciente.Peso.HasValue)
            {
                @:<span class="text-blue">Peso:</span> @Model.Paciente.Peso.Value.ToString("0.00") <br/>
            }
            @if(Model.Paciente.Altura.HasValue)
            {
                @:<span class="text-blue">Altura:</span> @Model.Paciente.Altura.Value.ToString("0.00") <br/>
            }

            <div class="@(Model.Paciente.EsPrimeraVez? "paciente-primera-vez": "paciente-control")">
                @if(Model.Paciente.EsPrimeraVez)
                {
                    @:El paciente es la primera vez que se atiende.    
                }
                else
                {
                    @:El paciente ya se ha atendido con anterioridad.
                    <a href="@Url.Action("TurnosPorPaciente", "Historial", new { PacienteId = Model.Paciente.Id })" target="_blank" class="button_link btn_blue"><span>Historial Atenciones</span></a>
                    <a href="@Url.Action("EdicionPaciente", "Secretaria", new { id = Model.Paciente.Id })" target="_blank" class="button_link btn_blue"><span>Editar Paciente</span></a>
                }
            </div>               
        </div>
        <div>
            @if (Model.PuedeEditarNota)
            {            
                if(Model.Estado == EstadoTurno.Presentado)
                {
                    <div>
                        <span>El usuario ingres&oacute; hace @(DateTime.Now.Subtract(Model.FechaIngreso.Value).Minutes)
                                  minutos.</span>
                    </div> 
                    
                    using (Html.BeginForm("RegistrarAtencionPaciente", "Profesional"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="turnoId" value="@Model.Id"/>
                        <textarea cols="5" rows="10" style="width: 100%;" name="nota">@Model.Nota</textarea>
                        @Html.Submit("Atender")
                    }                    
                }
                else
                {
                    using (Html.BeginForm("AgregarNota", "Profesional"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="turnoId" value="@Model.Id"/>                        
                        <div>
                            <span class="text-blue">Anotaci&oacute;n Previa: </span><br/>
                            <p>
                                @Html.Nl2Br(Model.Nota)
                            </p>
                        </div>        
                        <hr/>        
                        <textarea cols="5" rows="10" style="width: 100%;" name="nota"></textarea>
                        @Html.Submit("Agregar Nota")
                    }                    
                }
            }

            @if (Model.PuedoCancelar)
            {
                using (Html.BeginForm("CancelarTurno", "Profesional"))
                {
                    @Html.Partial("_CancelarTurno")
                }
            }                       
        </div>
    </div>
</div>
