@using Sicemed.Web.Models
@using Sicemed.Web.Models.Enumerations
@model Sicemed.Web.Models.ViewModels.Profesional.AgendaProfesionalViewModel.TurnoViewModel
@{

    var css = Model.Estado == EstadoTurno.Cancelado ? "ui-state-disabled " : string.Empty;
    css += Model.Estado == EstadoTurno.Presentado ? "ui-state-highlight" : string.Empty;
   
    var cssDuracion = Model.DuracionTurno <= TimeSpan.FromMinutes(10) ? "turno-duracion-corto" : (Model.DuracionTurno <= TimeSpan.FromMinutes(20) ? "turno-duracion-mediano" : "turno-duracion-largo");
}
<h3 class="@css">
    <a href="#" >
        <span class="@cssDuracion">@Model.FechaTurno.ToShortTimeString() / @Model.FechaTurnoFinal.ToShortTimeString()</span>
        | @Model.Paciente.Descripcion
        | @Model.Estado
    </a>    
</h3>
<div>
    <div class="turno turno-@Model.Estado.ToString().ToLower()">
        <div>
            <TABLE>
              <TR>
                <TD style="text-align:left;width:60%" >  
                    @if (Model.Especialidad != null && !string.IsNullOrWhiteSpace(Model.Especialidad.Descripcion))
                    {
                        @:<span class="text-blue-negrita-subrayada">Especialidad:</span><span class="text-black-negrita"> @Model.Especialidad.Descripcion</span>
                        <br/><br />            
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.NumeroAfiliado))
                    {
                        @:<span class="text-blue-negrita-subrayada">N&uacute;mero de Afiliado:</span><span class="text-black-negrita"> @Model.NumeroAfiliado</span><br/><br/>
                    }
                    @if(Model.Plan!=null)
                    {
                        @:<span class="text-blue-negrita-subrayada">Obra Social:</span><span class="text-black-negrita"> @Model.Plan.Nombre, @Model.Plan.ObraSocial.RazonSocial</span><br/><br/>                
                    }
                    @if(Model.Paciente.Edad.HasValue)
                    {
                        @:<span class="text-blue-negrita-subrayada">Edad:</span><span class="text-black-negrita"> @Model.Paciente.Edad.Value a&ntilde;os</span><br/><br/>
                    }
                    @if(Model.Paciente.Peso.HasValue)
                    {
                        @:<span class="text-blue-negrita-subrayada">Peso:</span><span class="text-black-negrita"> @Model.Paciente.Peso.Value.ToString("0.00") KG </span><br/><br/>
                    }
                    else
                    {
                        @:<span class="text-blue-negrita-subrayada">Peso:</span><span class="text-red-negrita"> N/A - Completar la ficha del Paciente</span><br/><br/>
                    }
                    @if(Model.Paciente.Altura.HasValue)
                    {
                        @:<span class="text-blue-negrita-subrayada">Altura:</span><span class="text-black-negrita"> @Model.Paciente.Altura.Value.ToString("0.00") CM </span><br/><br/>
                    }
                    else
                    {
                        @:<span class="text-blue-negrita-subrayada">Altura:</span><span class="text-red-negrita"> N/A - Completar la ficha del Paciente</span><br/><br/>
                    }
                </TD>
                <td></td><td></td><td></td><td></td><td></td><td></td>
                <TD style="text-align:left;width:40%">          
                    @if (Model.Estado == EstadoTurno.Presentado || Model.Estado == EstadoTurno.Atendido)
                    {
                    <div><a href="@Url.Action("TurnosPorPaciente", "Historial", new { PacienteId = Model.Paciente.Id })" target="_blank" class="button_link btn_blue"><span>Historial Atenciones</span></a></div>
                    <div><a href="@Url.Action("EdicionPaciente", "Secretaria", new { id = Model.Paciente.Id})" class="button_link btn_yellow"><span>Editar Paciente</span></a></div>
                    }
                </td>
              </TR>
            </TABLE>
        </div>
        <br /><br />
        <div class="@(Model.Paciente.EsPrimeraVez? "paciente-primera-vez": "paciente-control")">
            @if(Model.Paciente.EsPrimeraVez)
            {
                @:El paciente es la primera vez que se atiende con Ud. para la especialidad @Model.Especialidad.Descripcion    
            }
            else
            {
                @:El paciente ya se ha atendido con anterioridad con Ud. para la especialidad @Model.Especialidad.Descripcion
            }
        </div>
        <br />
        <div>
            @if (Model.PuedeEditarNota)
            {            
                if(Model.Estado == EstadoTurno.Presentado)
                {
                    <div>
                        <br />
                        <span class="text-green-negrita">El paciente ingres&oacute; hace @(DateTime.Now.Subtract(Model.FechaIngreso.Value).Minutes)
                                  minutos.</span>
                        <br />
                    </div> 
                    
                    using (Html.BeginForm("RegistrarAtencionPaciente", "Profesional"))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="turnoId" value="@Model.Id"/>
                        <textarea cols="5" rows="10" style="width: 100%;" name="nota">@Model.Nota</textarea>
                        @Html.Submit("Atender")
                    }                    
                }
            }
        </div>

        <div>
            @if (Model.Estado == EstadoTurno.Atendido)
            {
                using (Html.BeginForm("AgregarNota", "Profesional"))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="turnoId" value="@Model.Id"/>                        
                    <div>
                        <span class="text-blue-subrayada">Anotaci&oacute;n Previa: </span><br/>
                        <p>
                            @Html.Nl2Br(Model.Nota)
                        </p>
                    </div>        
                    <hr/>        
                    <textarea cols="5" rows="10" style="width: 100%;" name="nota"></textarea>
                    @Html.Submit("Agregar Nota")
                }                    
            }
            @if (Model.PuedoCancelar)
            {
                using (Html.BeginForm("CancelarTurno", "Profesional"))
                {
                    @Html.Partial("_CancelarTurno")
                }
            }          
        </div>
    </div>
</div>
