@model List<Sicemed.Web.Models.ViewModels.Listados.ListadoObraSocialesViewModel>

@{
    ViewBag.Title = "Obra Sociales";
}
@{

    var i=1;
}
<h2>Obras Sociales</h2>
<div>
<p>Estas son las Obras Sociales que se atienden en la institución</p>
    <table>
        @foreach(var obrasocial in Model)
        {
            {
              if (!(i % 2 == 0))
              {
                  @:<tr><td style="text-align:left;vertical-align:text-top;width:50%" >
              }
              else
              {
                 @:</td><td style="text-align:left;vertical-align:text-top;width:50%">
              }
               @* @:<div class="ctl-accordion">*@
                @:<h5>@obrasocial.Nombre</h5> 
                @:<div>
                    if(!obrasocial.Nombre.Equals("Consulta Particular"))
                    {
                        @:<span class="text-gray-negrita-subrayada-margen"> Planes:</span>
                    }
                    @:<ul class="list_arrows_pink">
                    foreach (var planes in obrasocial.Planes)
                    {
                        if (@planes.Nombre.Equals("Consulta Particular"))
                        {
                            @:<li>El monto a abonar se establece en función del profesional que realiza la atención
                        }
                        else
                        {
                            @:<li>@planes.Nombre - Coseguro: $ @decimal.Round(@planes.Coseguro,2)</li>
                        }
                    } 
                    @:</ul>
                @:</div>
               @* @:</div>*@
              if (i % 2 == 0)
              {
                  @:</td></tr>
              }
              i=i+1;

            }
        }   
    </table>
</div>