@using Sicemed.Web.Models.ViewModels.Cuenta
@model CambiarPasswordViewModel

@{
    ViewBag.Title = "Cambiar Password";
}

<h2>Cambiar Password</h2>
<p>
    Utilice el formulario para cambiar su password.
</p>
<p>
    El password debe tener como m&iacute;nimo una longitud de @ViewBag.PasswordLength caracteres.
</p>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "Se han producido los siguientes errores al intentar cambiar su password. Corríjalos e inténtelo nuevamente.")
    <div>
        <fieldset>
            <legend>Informac&oacute; de su cuenta</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.PasswordActual)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.PasswordActual)
                @Html.ValidationMessageFor(m => m.PasswordActual)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.PasswordNuevo)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.PasswordNuevo)
                @Html.ValidationMessageFor(m => m.PasswordNuevo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmacionPasswordNuevo)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmacionPasswordNuevo)
                @Html.ValidationMessageFor(m => m.ConfirmacionPasswordNuevo)
            </div>

            <p>
                <input type="submit" value="Cambiar Password" />
            </p>
        </fieldset>
    </div>
}
