@using Sicemed.Web.Models.ViewModels.Account
@using Sicemed.Web.Models.ViewModels.Cuenta
@model InciarSesionViewModel

@{
    ViewBag.Title = "Iniciar Sesión";
}

<h2>Iniciar Sesi&oacute;n</h2>
<p>
    Por favor ingrese su Email y Password. O @Html.ActionLink("Registrese", "Registro") si no posee una cuenta.
</p>

@Html.ValidationSummary(true, "No ha podido iniciar sesión, por favor verifique los siguientes puntos:")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Informaci&oacute;n</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Iniciar Sesi&oacute;n" />
            </p>
        </fieldset>
    </div>
}
