@{
    ViewBag.Title = "Administración De Consultorios";
}
<h2>
    Administraci&oacute;n de Consultorios
</h2>

@Html.Partial("GrillaBase")

@section Scripts{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            app.grid.initialize({
                url: {
                    edit: '@Url.Action("Editar")',
                    add: '@Url.Action("Nuevo")',
                    del: '@Url.Action("Eliminar")',
                    list: '@Url.Action("List")'
                },
                params: {
                    caption: 'Gesti&oacute;n De Consultorios',
                    emptyrecords: 'No hay Consultorios cargados.',
                    colNames: ['Id', 'Nombre', 'Descripcion'],
                    colModel: [
                            {
                                name: 'Id',
                                index: 'Id',
                                width: 55,
                                sortable: false,
                                hidden: true
                            },
                            {
                                name: 'Nombre',
                                index: 'Nombre',
                                width: 90,
                                editable: true,
                                sortable: false,
                                editrules: {
                                    required: true
                                },
                                formoptions: {
                                    label: 'Nombre (*)',
                                    maxlength: '255',
                                    size: '255'
                                }
                            },
                            {
                                name: 'Descripcion',
                                index: 'Descripcion',
                                width: 300,
                                editable: true,
                                sortable: false,
                                edittype: 'textarea',
                                editoptions: {
                                    rows: '10',
                                    cols: '30'
                                },
                                formoptions: {
                                    label: 'Descripcion'
                                }
                            }
                        ]
                }
            });
        });
    </script>
}
